[defaults]
host_key_checking = False
log_path = /home/ansible/ansible.log
inventory = /home/ansible/repositories/cvlab/inventory/pd_debian/hosts.yml
callbacks_enabled = timer, profile_tasks, profile_roles
remote_user = ansible
